<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro Excursionista Capdevielle</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/main.css"> 
    <link rel="icon" href="img/icono.png"  type="image/png"> 
</head>
<body>

    <%- include('partials/header')%>

    <%- include('partials/ribbon')%>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% carrusel.forEach((elemento, index) => { %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>" aria-current="<%= index === 0 ? 'true' : 'false' %>" aria-label="Slide <%= index + 1 %>"></button>
    <% }); %>
  </div>

  <div class="carousel-inner">
    <% carrusel.forEach((elemento, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <a href="<%= elemento.ruta_destino %>#<%= elemento.seccion %>"><img src="<%= elemento.foto %>" class="d-block w-100" alt="<%= elemento.titulo %>"></a>
      </div>
    <% }); %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

    
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>
    <h1>PRINCIPAL</h1>

    <%- include('partials/footer')%>


</body>
</html>