<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pertenencia al CEC</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/main.css"> 
</head>
<body>

    <%- include('partials/header')%>

    <%- include('partials/ribbon')%>

    <div class="container mt-5 mb-5">
    <h2 class="mb-4">Áreas del Centro Excursionista Capdevielle</h2>

    <% if (cec && cec.length > 0) { %>

      <% for (let seccionNum = 1; seccionNum <= 6; seccionNum++) {
            const items = cec.filter(tema => tema.seccion === seccionNum);
            if (items.length > 0) {
      %>
        <section id="<%= seccionNum %>" class="mb-5">
          <hr class="mb-4">

          <div class="row">
            <% items.forEach(tema => { %>
              <div class="col-md-6">
                <div class="card h-100 shadow-sm rounded-4 overflow-hidden mb-4">
                  <div class="row g-0 h-100 flex-md-row-reverse">
                    <div class="col-md-5">
                      
                        <img src="<%= tema.foto %>" class="img-fluid h-100 w-100 object-fit-cover" alt="<%= tema.titulo %>">
                     
                    </div>
                    <div class="col-md-7 d-flex align-items-center">
                      <div class="card-body">
                        <h5 class="card-title fw-bold fs-3 mb-4"><%= tema.titulo %></h5>
                        <p class="card-text fs-6" style="text-align: justify;"><%= tema.texto_corto || '' %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
      <% }} %>
    <% } else { %>
      <p class="text-center mt-5">No hay temas registrados en este momento.</p>
    <% } %>
  </div>
    

    <h1>Proceso de Admisión</h1>
    <h1>Las pañoletas</h1>

    <%- include('partials/footer')%>

</body>
</html>